
.nav1{
	margin-top: 150px;
	float: left;
	position: fixed;
}

.nav1 nav {
	position: relative;
	margin: 50px;
	margin-right: 0px;
	width: 370px;
  background: #666;
}
.nav1 nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav1 nav ul li {
  /* Sub Menu */
  background: #e5e5e5;
}

.nav1 nav ul li a {
	display: block;
	padding: 10px 15px;
	color: #0080ba;
	text-decoration: none;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}

.nav1 nav ul li a:hover{
	color: #6E6C64;
	text-decoration: none;
}

.nav1 nav ul li a .fa {
	width: 16px;
	text-align: center;
	margin-right: 5px;
	float:right;
	color: #134069;
}


.nav1 nav ul li ul li {
	background: whitesmoke;
}

.nav1 nav ul li ul li a {
	color: black;
	border-left: 4px solid transparent;
	padding: 10px 20px;
}
.nav1 nav ul li ul li a:hover {
	border-left: 9px solid #3498db;
	color: black;
}
